<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>

    <title>黑色沙漠日服 天气预报系统</title>
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <link rel="stylesheet" href="/static/css/default.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.16/clipboard.min.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/myBlog.js"></script>

<script>

$(function() {
    new Clipboard('.btn');
    var vm = new Vue({
        el: '#vm',
        data: {
            timerforautorefresh: 0,
            timerforrefreshbutton: 20,
            loading: true,
            now: new Date(),
            bdnow: [],
            nextnight: 0,
            leftnight: 0,
            bosses: {
                nube: [],
                kutu: [],
                kuza: [],
                kara: []
            }
        },
        computed: {
            night: function () {
                var res = true;
                var timez_shift_to_Jp = 9 + this.now.getTimezoneOffset() / 60;
                var now_h = this.now.getHours() + timez_shift_to_Jp ;

                var now_m = this.now.getMinutes();
                var minutes = now_h * 60 + now_m;  // 0 ~ 1440 从现实世界0点开始到现在的分钟数

                if (minutes > 0 && minutes <= 40) {
                    // 白天 现实世界0点～0:40的游戏白天
                    res = false;
                    this.nextnight = 40 - minutes
                    this.bdnow[0] = float2int(((160 + minutes) * 4.5) / 60) + 7;
                    this.bdnow[1] = float2int(((160 + minutes) * 4.5) % 60);
                } else if (minutes > 1280 && minutes <= 1440) {
                    // 白天 现实世界21:20~0点的游戏白天
                    res = false;
                    this.nextnight = 1480 - minutes;
                    this.bdnow[0] = float2int(((minutes - 1280) * 4.5) / 60) + 7;
                    this.bdnow[1] = float2int(((minutes - 1280) * 4.5) % 60)

                } else {
                    // alert(minutes);
                    var rem = (minutes - 40) % 240; // 超过游戏每个夜昼循环循环开始的真实世界分钟数

                    if (rem >= 40 ) {
                        // 白天
                        res = false;
                        this.nextnight = 240 - rem;
                        this.bdnow[0] = float2int(((rem - 40)* 4.5) / 60) + 7; // 7点开始算
                        this.bdnow[1] = float2int(((rem - 40)* 4.5) % 60);

                    } else {
                        // 夜里
                        res = true;
                        this.nextnight = 0;
                        this.nightleft = 40 - rem;
                        this.bdnow[0] = float2int(((rem) * 13.5) / 60) + 22; // 22点开始算
                        if (this.bdnow[0] >= 24) {
                            this.bdnow[0] -= 24
                        }
                        this.bdnow[1] = float2int(((rem) * 13.5) % 60) 
                    }
                }
                return res
            },
            data2clipboard: function () {
                var text = '';

                text += '[龙]:上次' + this.bosses.nube[4] + ', 预计' + this.bosses.nube[5] + '\n';
                text += '[虫]:上次' + this.bosses.kutu[4] + ', 预计' + this.bosses.kutu[5] + '\n';
                text += '[库]:上次' + this.bosses.kuza[4] + ', 预计' + this.bosses.kuza[5] + '\n';
                text += '[鸟]:上次' + this.bosses.kara[4] + ', 预计' + this.bosses.kara[5] + '\n';
                text += 'Ps:(预计)指本次最早可能出现的时间\n';
                // text += '游戏夜晚信息:'
                if (this.nextnight > 0) {
                    text += '距 游戏内夜晚 还有' + this.nextnight.toString() + '分钟.';
                } else {
                    text += '离 游戏内夜晚 结束还有' + this.nightleft.toString() + '分钟';
                }
                text += '\n该信息由黑色沙漠天气预报系统提供\n访问http://hazydawn.com/bdo_boss';

                return text
            },
        },

        mounted: function (){
            this.refresh();
            this.interval = setInterval(this.clock, 1000)
        },

        methods: {
            refresh: function() {
                    this.loading = true;
                    this.timerforautorefresh = 0;
                    this.timerforrefreshbutton = 20;
                    getJSON('/api/crawl_boss', 
                    function(err, result) {
                    if (err) {
                        alert('ERROR: Refresh too often!');
                    }
                    else {
                        vm.bosses.nube = result.nube;
                        vm.bosses.kutu = result.kutu;
                        vm.bosses.kuza = result.kuza;
                        vm.bosses.kara = result.kara;
                        vm.loading = false;

                        for (b in vm.bosses) {
                            format_time(vm.bosses[b]);
                        }
                    }
                });
            },
            clock: function() {
                this.now = new Date();
                this.timerforautorefresh += 1;
                this.timerforrefreshbutton -= 1;
                if (this.timerforautorefresh > 60) {

                    this.refresh()
                }
            },
            probability: function(boss) {

                nextdate = str2time(boss[2]);
                var prob = '';

                if (vm.now < nextdate) {

                    prob = 0
                } else {
                    prob = (this.now - nextdate) / (3600 * boss[3] * 1000) * 100
                }
                return prob
            },
            bosscolor: function(prob) {
                var c = '';
                if (prob < 25 && prob > 0) {
                    c = 'uk-text-primary'
                } else if (prob < 50 && prob >= 25) {
                    c = 'uk-text-success'
                } else if (prob < 75 && prob >= 50) {
                    c = 'uk-text-warning'
                } else if (prob >= 75) {
                    c = 'uk-text-danger'
                }
                return c
            }
        },
    });
});



function format_time(boss){
    lastdate = str2time(boss[1]);
    nextdate = str2time(boss[2]);
    boss.push(whichday(lastdate) + ' ' + time2hourminute(lastdate));

    if (nextdate.getDay() == 3 && nextdate.getHours() > 6) {    
        boss.push('周三维护作息紊乱')
    } else {
        boss.push(whichday(nextdate) + ' ' + time2hourminute(nextdate));
    }
    boss.push(0)
}

function whichday(time) {
    var now = new Date();
    var now_day = now.getDate();
    var time_day = time.getDate();
    var now_year = now.getFullYear();
    var time_year = now.getFullYear();
    if (now_day == time_day) {
        return '今天'
    } else if (now_year == time_year) {
        if (now_day > time_day) {
            return '明天'
        } else {
            return '昨天'
        }
    } else if (now_year < time_year) {
        return '明天'
    } else {
        return '昨天'
    }
}

function str2time(t) {
    return new Date(t * 1000)
}

function time2hourminute(t) {
    return t.toTimeString().split(' ')[0].slice(0, 5)
}

function float2int(f) {
    return f | 0
}

</script>

<body>
<div></div>

<div id="vm" class="uk-container uk-container-center uk-margin-large">
    <div class="uk-container uk-container-center uk-width-4-5">
    <div class="uk-block-primary uk-contrast uk-margin">
        <div class="uk-container uk-vertical-align" style="height: 40px;">
        <div class="uk-vertical-align-middle uk-width-1-2">黑色沙漠日服BOSS预报系统 Ver 0.9</div>
        <div class="uk-vertical-align-bottom uk-width-1-2" align="right">By Makiko</div>
        <!-- <div class="uk-vertical-align-bottom uk-width-1-2"><img src="/static/imgs/signature.png" align="right"></div> -->
        </div>
    </div>
    </div>


    <div class="uk-container uk-container-center uk-width-4-5">
        <div class="uk-width-1-2">
        <table class="uk-table uk-table-striped uk-text-center">
        
            <tbody>
                <tr class="uk-text-bold">
                    <td>现实时间</td>
                    <td>黑沙时间</td>
                    <td>黑商情报</td>
                </tr>
                <tr>
                    <td v-text="now.toTimeString().split(' ')[0]"></td>
                    <td>
                        <span v-if="night">夜里</span>
                        <span v-else>白天</span>
                        <span v-text="bdnow[0].toString() + ':' + bdnow[1].toString()"></span>
                    </td>
                    <td> 
                        <span v-if="nextnight > 0" v-text="nextnight.toString() + ' 分钟后出现'"></span>
                        <span v-else v-text="nightleft.toString() + ' 分钟后消失'"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>

    <div class="uk-container uk-container-center uk-width-4-5">

        <div class="uk-panel uk-panel-box uk-panel-box-primary uk-width-1-1 uk-container-center uk-text-center uk-vertical-align" v-if="loading" style="height: 225px"> 
        <div class="uk-vertical-align-middle">Loading...</div>
        </div>

                <table class="uk-table uk-table-striped uk-text-center" v-else>
                    <tbody>
                        <tr class="uk-text-bold">
                            <td></td>
                            <td>最后一次出现</td>
                            <td>预计下次最早出现</td>
                            <td>当前出现概率</td>
                        </tr>
                        <tr v-for="boss in bosses">
                            <td v-text="boss[0]" :class="bosscolor(probability(boss))"></td>
                            <td v-text="boss[4]"></td>
                            <td v-text="boss[5]"></td>
                            <td v-text="probability(boss).toFixed(2) + '%'"></td>
                        </tr>
                    </tbody>
                </table>

        <div class="uk-container-center uk-text-center uk-width-4-5">


                <button v-if="!loading" @click="refresh" class="uk-button uk-button-primary uk-width-1-3" :disabled="timerforrefreshbutton > 0">
                    <i class="uk-icon-refresh"></i> 刷新 <span v-text="timerforrefreshbutton" v-show="timerforrefreshbutton > 0"></span>
                </button>


    <!-- Target -->
                <button v-if="!loading" class="uk-button uk-button uk-width-1-3 btn" :data-clipboard-text="data2clipboard">
                <i class="uk-icon-share"></i> 复制到剪贴板
                </button>


        </div>
    </div>

    <div class="uk-container uk-container-center uk-width-4-5 uk-margin">
        <!-- <hr> -->
    <div class="uk-block uk-block-primary uk-padding-vertical-remove uk-contrast">

                                <div class="uk-container  uk-text-center">

                                    <!-- <h3>Links</h3> -->

                                    <div class="uk-grid uk-grid-match" data-uk-grid-margin="">
                                        <div class="uk-width-medium-1-3 uk-row-first">
                                            <!-- <h3>Links</h3> -->
                                            <div class="uk-panel">
                                                <!-- <h4>Links</h4> -->
                                                <p>
                                                    <a href="http://bddatabase.net/jp/" target="_blank">BDO 数据库(日文/英文)</a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-3">
                                            <div class="uk-panel">
                                            <p>
    <a href="http://blackdesert.swiki.jp/index.php?知識%2F地形" target="_blank">知识任务wiki(日文)</a></p>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-3">
                                            <div class="uk-panel">
                                                <p><a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=09ec745b2da93febe556df17baf0bf0916df97a8f19bfe7ba897cd7bc47828fd"><i class="uk-icon-qq"> 日服群</i></a></p>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
    </div>



</div>


</body>
