{% extends '__base__.html' %}

{% block title %}关于博客{% endblock %}

{% block beforehead %}

{% endblock %}

{% block content %}

    <div class="uk-width-medium-5-6">
        <p>Created at 2016.04.20</p>
        <p>by Cosann</p>
        <P>一个万千纷繁的世界</P>
        <p>一条横贯南北鸭川</P>
        <p>一处二十平不到的陋室</p>
        <p>一片薄雾清晨的空间</p>
    </div>
    <div class="uk-width-medium-1-6">
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://www.plusaber.net">PlusSaber</a></li>
            </ul>
        </div>
    </div>
{% endblock %}