{% extends '__base__.html' %}

{% block title %}Mecab Toy{% endblock %}

{% block beforehead %}

{% endblock %}

{% block content %}

<script>

// function hidevm2() {
//     $("#vm2").hide();
// }



$(function() {
    var vm = new Vue({
        el: '#vm',
        data: {
            content: ''
        },
        
        methods: {
            submit: function(event) {
                event.preventDefault();
                var
                    $form = $('#vm'),
                    content = this.content.trim();
                // $.ajax({
                //     url: '/api/parse',
                //     type: 'POST',
                //     dataType: 'json',
                //     data: data
                //     success: function(data) {
                //         alert("ok");
                //     },
                //     error: function(XMLHttpRequest, textStatus, errorThrown) {
                //             alert("error");
                //     }
                // });
                $form.postJSON('/api/parse', {
                    content: content
                }, function(err, result) {
                    if (err) {
                        $form.showFormError(err);
                    }
                    else {
                        alert(result.words)
                        // $('#vm').hide();

                        refresh()
                    }
                });
            }
        }
    });
    // initVM(result);
});

// function initVM(result) {
//     alert(typeof result.r)
//     var vm2 = new Vue({
//         el: '#vm2',
//         data: {
//             rrr: '???????'
//         }
//     });
//     $('#vm2').show();
// }



</script>


    <div id="error" class="uk-width-1-1"></div>


    <div class="uk-width-2-3">
        <form id="vm" v-on="submit: submit" class="uk-form uk-form-stacked">
            <div class="uk-alert uk-alert-danger uk-hidden"></div>
            <div class="uk-form-row">
                <label class="uk-form-label">Input:</label>
                <div class="uk-form-controls">
                    <textarea id="editor" v-model="content" rows="16" name="content" placeholder="请输入一段文字" class="uk-width-1-1" style="resize:none;"></textarea>
                </div>
            </div>
            <div class="uk-form-row"><div id="result"></div></div>
            <div class="uk-form-row">
                <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-save"></i> Have a try!</button>

            </div>
            <div class="uk-form-row">
<!--  -->       <p> {{ b }}</p>
            </div>
            
        </form>
    </div>

{% endblock %}